<head>
    <link rel="stylesheet" href="~/Content/css/style_tuiles.css" type="text/css" media="screen" />
</head>

@{
    ViewBag.Title = "Décoration Intérieur";
}

<h2>Décoration Intérieur</h2>

<div class="content">
    <section id='least'>

        <ul class='least-gallery'>

            <!--Salon-->
            <li>
                <a href='../Interior/Livingroom/' title='Salon' data-subtitle=''>
                    <img src='img/veilles/gatebox/gatebox02.jpg' alt='Erreur Image' />
                </a>
            </li>

            <!--Salle à Manger-->
            <li>
                <a href='../Interior/DiningDesign/' title='Salle à Manger' data-subtitle=''>
                    <img src='img/veilles/gatebox/gatebox02.jpg' alt='Erreur Image' />
                </a>
            </li>

            <!--Cuisine-->
            <li>
                <a href='../Interior/KitchenDesign/' title='Cuisine' data-subtitle=''>
                    <img src='img/veilles/gatebox/gatebox02.jpg' alt='Erreur Image' />
                </a>
            </li>

            <!--Salle de Bain-->
            <li>
                <a href='../Interior/BathDesign/' title='Salle de Bain' data-subtitle=''>
                    <img src='img/veilles/gatebox/gatebox02.jpg' alt='Erreur Image' />
                </a>
            </li>

            <!--Chambre-->
            <li>
                <a href='../Interior/BedDesign/' title='Chambre' data-subtitle=''>
                    <img src='img/veilles/gatebox/gatebox02.jpg' alt='Erreur Image' />
                </a>
            </li>

        </ul>
    </section>
</div>

<!-- JavaScript -->
<script type="text/javascript" src="~/Scripts/js/modernizr-custom.js"></script>
