
@{
    ViewBag.Title = "Décoration Intérieur";
}

<h2>Décoration Intérieur</h2>

<ul>
    <li>Salon</li>
    <li>Salle à Manger</li>
    <li>Cuisine</li>
    <li>Salle de Bain</li>
    <li>Chambre</li>
</ul>