
@{
    ViewBag.Title = "Atelier et Cours de Bricolage";
}

<h1>Atelier et Cours de Bricolage</h1>

<div>
    <p>
        <h3>Vous avez des envies de bricoler mais vous n'osez pas faire le grand saut ?</h3>

        La meilleure solution, c'est d'essayer… <br />
        Dans l'Atelier de la Maison de ANDRÉ PEINTURE DÉCORATION, ce sont de vrais cours de bricolage où l'on manipule les produits et l'outillage. <br />
        Résultat, on pratique pour réussir chez soi !
    </p>

    <p>
        Les Ateliers de la Maison :
        <ul>
            <li>Poser du parquet flottant ou du carrelage</li>
            <li>Décorer ou Aménager</li>
            <li>Embellir son intérieur et sont extérieur</li>
        </ul>
        Les Ateliers proposent une offre complète de cours pour vous accompagner dans la réalisation de vos projets chez vous ou dans l'atelier ANDRÉ PEINTURE DÉCORATION
    </p>

    <p>
        Une occasion :
        <ul>
            <li>De faire des erreurs sans aucune conséquence</li>
            <li>D'apprendre avec l'accompagnement d'un vrai spécialiste</li>
            <li>De comparer les produits pour mieux les choisir, en toute objectivité</li>
            <li>De connaître les trucs et astuces de pros</li>
            <li>De gagner du temps et de l'argent ,vous éviterez du gaspillage</li>
        </ul>
    </p>

    <p>
        Les professionnels, à vos côtés tout au long du stage, vous font découvrir les techniques les mieux adaptées dans un espace entièrement aménagé avec tout l'outillage et les matériaux nécessaires.
    </p>

    <p>
        <b>Durée du Cours : </b> 1h00 - 3h00 <br />
        <b>Prix : </b> 14€ - 42€
    </p>

    <p>
        Pour toute inscription dans nos ateliers, une carte de fidélité et des remises de 20% vous sera remise Elle sera valable sur vos prochains travaux ou elle peut être offerte à vos proches, vos amies et voisins. <br />
        Renseignements sur les Ateliers de la Maison et Inscription (sous réserve de places disponibles) dans notre site ou sur andrepeinture@wanadoo.fr
    </p>

</div>
