
@{
    ViewBag.Title = "Actualité et Evénements";
}

<h1>Actualités</h1>

<div>
    <h3>2017</h3>
    <p>
        Peugeot Partner 100% Electrique
    </p>

    <h3>2001</h3>
    <p>
        C15
        Création de la société André Peinture Décoration
    </p>
</div>

<h1>Evénements</h1>

