
@{
    ViewBag.Title = "Actualité et Evénements";
}

<head>
    <link rel="stylesheet" href="~/Content/css/style_actu_event.css" type="text/css" media="screen" />
</head>

<h1>Actualités</h1>

<div>
    <h3>2017</h3>
    <p>
        Acquisition d'un Peugeot Partner 100% Electrique
    </p>

    <h3>2001</h3>
    <p>
        Acquisition d'un C15 <br />
        Création de la société André Peinture Décoration
    </p>
</div>

<h1>Evénements</h1>

