
@{
    ViewBag.Title = "Services";
}

<h1>Services</h1>

<div class="row">
    <div class="col-md-4">
        <h3>Décoration Interieur</h3>
    </div>

    <div class="col-md-4">
        <h3>Décoration Extérieur</h3>
    </div>

    <div class="col-md-4">
        <h3>Dorure à la Feuille d'Or</h3>
    </div>

    <div class="col-md-4">
        <h3>Vitrerie et Miroiterie</h3>
    </div>
</div>

