
@{
    ViewBag.Title = "Services";
}

<h1>Services</h1>

<div class="row">
    <div class="col-md-4">
        <h3>Décoration Interieur</h3>
        @Html.ActionLink("Décoration Interieur", "InteriorDesign", "Services", null, new { @class = "btn btn-default" })
    </div>

    <div class="col-md-4">
        <h3>Décoration Extérieur</h3>
        @Html.ActionLink("Décoration Extérieur", "ExteriorDesign", "Services", null, new { @class = "btn btn-default" })
    </div>

    <div class="col-md-4">
        <h3>Dorure à la Feuille d'Or</h3>
        @Html.ActionLink("Dorure à la Feuille d'Or", "GoldPlating", "Services", null, new { @class = "btn btn-default" })
    </div>

    <div class="col-md-4">
        <h3>Vitrerie et Miroiterie</h3>
        @Html.ActionLink("Vitrerie et Miroiterie", "GlazingMirrors", "Services", null, new { @class = "btn btn-default" })
    </div>
</div>

