<head>
    <link rel="stylesheet" href="~/Content/css/style_tuiles.css" type="text/css" media="screen" />
</head>

@{
    ViewBag.Title = "Services";
}

<h1>Services</h1>

<div class="content">
    <section id='least'>

        <ul class='least-gallery'>

            <!--Décoration Intérieure-->
            <li>
                <a href='../Services/InteriorDesign/' title='Décoration' data-subtitle='Intérieure'>
                    <img src='img/veilles/gatebox/gatebox02.jpg' alt='Erreur Image' />
                </a>
            </li>

            <!--Décoration Extérieure-->
            <li>
                <a href='../Services/ExteriorDesign/' title='Décoration' data-subtitle='Extérieure'>
                    <img src='img/veilles/gatebox/gatebox02.jpg' alt='Erreur Image' />
                </a>
            </li>

            <!--Dorure à la feuille d'Or-->
            <li>
                <a href='../Services/GoldPlating/' title='Dorure' data-subtitle='à la feuille d Or'>
                    <img src='img/veilles/gatebox/gatebox02.jpg' alt='Erreur Image' />
                </a>
            </li>

            <!--Vitrerie et Miroiterie-->
            <li>
                <a href='../Services/GlazingMirrors/' title='Vitrerie' data-subtitle='et Miroiterie'>
                    <img src='img/veilles/gatebox/gatebox02.jpg' alt='Erreur Image' />
                </a>
            </li>

        </ul>
    </section>
</div>

<!-- JavaScript -->
<script type="text/javascript" src="~/Scripts/js/modernizr-custom.js"></script>
