
@{
    ViewBag.Title = "Description";
}

<h1>Ouvrage à la Feuille d'Or</h1>


<h2>Préparation du Support</h2>

<p>
    Le support peut-être de bois, de toile, de papier ou tout autre chose. Traditionnellement afin de rendre ce support peu absorbant on applique ce qu’on appelle de l’assiette à dorer ou du bol d’Arménie, la composition peut changer mais en général c’est simplement de l’ocre rouge avec de la colle de peau par exemple. Cette assiette va permettre à la feuille d’adhérer au support en la happant, surtout lorsqu’elle est libre.
    Alors ça, c’est la technique traditionnelle, aujourd’hui il existe des moyens bien plus simples, rapides et courants qui peuvent très bien faire l’affaire, j’ai nommé l’Acrylique!
    En effet, le but de cette préparation est de rendre le support non absorbant et de favoriser l’éclat de la dorure grâce à la couleur rouge, donc de l’acrylique couleur ocre rouge convient aussi.
    Sachons profiter des avantages de la modernité!
</p>


<h1>La Mixtion</h1>

<h2>Description</h2>

<p>

    La colle pour feuille d’or est appelée une Mixtion.
    Il en existe plusieurs sortes, les grasses dites « mixtion 3H » et « mixtion 12h », ce temps est le délai à ne pas dépasser pour poser la feuille d’or, sachant qu’il faut attendre au moins 1h30 avant de pouvoir poser les feuilles… Au delà la mixtion ne colle plus.
    Sinon il existe également les mixtions à l’eau, beaucoup plus simples d’utilisation puisqu’il ne faut patienter que 15mn environ.
    Pour les mixtions « grasses », comme le dit le commentateur, vous pouvez les rendre plus fluides en les diluant avec un peu de White spirit.
    Il faut savoir que la feuille d’or est tellement fine qu’elle va parfaitement épouser le relief de l’enduit.
    C’est pour cette raison que dans la vidéo il précise que l’enduit a été poncé.
    Si dans votre colle on voit les traces du pinceau, sachez qu’elles se verront également à travers la feuille d’or. Et le résultat peut être très inesthétique…
    C’est aussi valable pour les poussières et les cheveux. Et oui, on est jamais à l’abris de perdre un cheveux malheureux!
    Ceci a toute son importance car si vous l’enlevez vous risquez de retirer également un peu de mixtion en surface, ce qui provoquera une lacune dans votre surface dorée, ou bien si vous décidez de l’ignorer il se verra de toute manière en relief malgré la feuille d’or.
    Pour cette application il est conseillé d’utiliser un pinceau aussi doux que ceux en martre pour éviter les traces de poils, mais étant donné que c’est pour le plonger dans une colle, un pinceau synthétique très doux suffira.
    Comme le dit Jacques Bihin, la brosse est la mieux adaptée car elle permet aussi bien de faire les aplats que les contours, cela évite d’en user plusieurs. Et donc, attention d’appliquer la mixtion de manière régulière et sans traces!
    Ensuite il faut attendre que cette mixtion sèche.
    Pour les mixtions grasses M. Bihin explique comment s’en rendre compte, mais en ce qui concerne les mixtions à l’eau, cela se voit à l’aspect.
    En effet ces colles sont à base d’acétate de polyvinyle ce qui leur donne un aspect laiteux.
    En séchant, l’acétate de polyvinyle devient totalement transparent, c’est donc une fois que la mixtion étalée sur votre support a perdu toute sa blancheur que la pose de la dorure est possible.

</p>

<h2>Préparation du Support</h2>

<p>
    Le support peut-être de bois, de toile, de papier ou tout autre chose.
    Traditionnellement afin de rendre ce support peu absorbant on applique ce qu’on appelle de l’assiette à dorer ou du bol d’Arménie, la composition peut changer mais en général c’est simplement de l’ocre rouge avec de la colle de peau par exemple.
    Cette assiette va permettre à la feuille d’adhérer au support en la happant, surtout lorsqu’elle est libre.
    Alors ça, c’est la technique traditionnelle, aujourd’hui il existe des moyens bien plus simples, rapides et courants qui peuvent très bien faire l’affaire, j’ai nommé l’Acrylique! En effet, le but de cette préparation est de rendre le support non absorbant et de favoriser l’éclat de la dorure grâce à la couleur rouge, donc de l’acrylique couleur ocre rouge convient aussi.
    Sachons profiter des avantages de la modernité!
</p>


<h2>Catégorie de Feuilles d'Or</h2>

<p>
    Il existe 2 catégories de feuille d’or : Les libres et les adhérentes (appelées aussi transferts).
    Les adhérentes sont de loin les plus pratiques, elles sont légèrement collées (avec de la gélatine) sur un papier de soie, vous pouvez donc les manipuler assez facilement.
    Alors que les « libres » relèvent de la plus haute fragilité car étant donné leur finesse le moindre souffle d’air peut les abîmer.
    Il est impossible de les manipuler à mains nues car le gras naturel des doigts va les déchirer, vous allez donc devoir recourir à des outils tels que le coussin à dorer, la palette à dorer (le nom est trompeur, cet outil ressemble davantage à un pinceau plat) et le couteau à dorer.
    Pour les feuilles d’or dites « adhérentes .
</p>

<h2>Pose de la Feuille</h2>

<p>
    Il existe 2 catégories de feuille d’or : Les libres et les adhérentes (appelées aussi transferts). Les adhérentes sont de loin les plus pratiques car comme on le voit très bien dans cette vidéo, elles sont légèrement collées (avec de la gélatine) sur un papier de soie, vous pouvez donc les manipuler assez facilement. Alors que les « libres » relèvent de la plus haute fragilité car étant donné leur finesse le moindre souffle d’air peut les abîmer. Il est impossible de les manipuler à mains nues car le gras naturel des doigts va les déchirer, vous allez donc devoir recourir à des outils tels que le coussin à dorer, la palette à dorer (le nom est trompeur, cet outil ressemble davantage à un pinceau plat) et le couteau à dorer. Pour les feuilles d’or dites « adhérentes », pas besoin de tout ce matériel.
    coup plus simples d’utilisation puisqu’il ne faut patienter que 15mn environ. Pour les mixtions « grasses », comme le dit le commentateur, vous pouvez les rendre plus fluides en les diluant avec un peu de White spirit.
    Il faut savoir que la feuille d’or est tellement fine qu’elle va parfaitement épouser le relief de l’enduit. C’est pour cette raison que dans la vidéo il précise que l’enduit a été poncé. Si dans votre colle on voit les traces du pinceau, sachez qu’elles se verront également à travers la feuille d’or. Et le résultat peut être très inesthétique… C’est aussi valable pour les poussières et les cheveux. Et oui, on est jamais à l’abris de perdre un cheveux malheureux! Ceci a toute son importance car si vous l’enlevez vous risquez de retirer également un peu de mixtion en surface, ce qui provoquera une lacune dans votre surface dorée, ou bien si vous décidez de l’ignorer il se verra de toute manière en relief malgré la feuille d’or.
    Pour cette application il est conseillé d’utiliser un pinceau aussi doux que ceux en  pour éviter les traces de poils, mais étant donné que c’est pour le plonger dans une colle, un pinceau synthétique très doux suffira. Comme le dit Jacques Bihin, la brosse est la mieux adaptée car elle permet aussi bien de faire les aplats que les contours, cela évite d’en user plusieurs. Et donc, attention d’appliquer la mixtion de manière régulière et sans traces!
    Ensuite il faut attendre que cette mixtion sèche. Pour les mixtions grasses M. Bihin explique comment s’en rendre compte, mais en ce qui concerne les mixtions à l’eau, cela se voit à l’aspect. En effet ces colles sont à base d’acétate de polyvinyle ce qui leur donne un aspect laiteux. En séchant, l’acétate de polyvinyle devient totalement transparent, c’est donc une fois que la mixtion étalée sur votre support a perdu toute sa blancheur que la pose de la dorure est possible.
</p>