
@{
    ViewBag.Title = "Dorure à la Feuille d'Or";
}

<h2>Dorure à la Feuille d'Or</h2>


<h3>Histoire</h3>

<p>
    Au fil du temps, la dorure à l'or fin à la feuille fut parfaitement maîtrisée par nos ancêtres pour donner naissance au métier de « doreur à la feuille - Ornemaniste ».
</p>

@Html.ActionLink("En Savoir Plus", "DescGoldPlating", "Services", null, new { @class = "btn btn-default" })