.formContact {  
  display: block;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Boutons Radios*/
form > p:first-child  > input{
  margin-top: 4%;
  margin-right: 1%;  
}

form > p:first-child  > label{  
  margin-right: 5%;
}

form > p:first-child  > input, label{
  margin-bottom: 2%;
}

/*Nom et Email*/
form > p:nth-child(2) > input {
  display: block;
  width: 30%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;  
}

/*Zone de texte avec le label correspondant*/

form > p:nth-child(2) > label, textarea {
 
}

form > p:nth-child(2) > label {
  margin-top: 3%;    
}

textarea {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
  resize: none;  
}

/*Bouton*/
button {
  padding: 8px 32px;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

button:hover {
  background-color: #008CBA;
  color: white;
}