@{
    ViewBag.Title = "Authentification";
}

<form>
    <input type="text" id="" name="" placeholder="Login" required />
    <input type="password" id="" name="" placeholder="Mot de Passe" required />

    @Html.ActionLink("Connexion", "Home", "Home", null, new { @class = "btn btn-default" })
</form>