
@{
    ViewBag.Title = "Compétences";
}

<h1>Compétences</h1>

<ul>
    <li>Décoration Faux Bois</li>
    <li>Dorure à la Feuille d'Or</li>
    <li>
        Sur les murs :
        <ul>
            <li>Papiers Peints</li>
        </ul>
    </li>
</ul>