
@{
    ViewBag.Title = "Compétences";
}

<h1>Compétences</h1>

<ul>
    <li>Décoration Faux Bois</li>
    <li>Décoration Faux Marbre</li>
    <li>Dorure à la Feuille d'Or</li>
    <li>Les Patines</li>
    <li>Vitrerie</li>
    <li>Peinture</li>
    <li>Adhésifs Publicitaires ou Décoratifs (Stickers)</li>
    <li>
        Sur les Murs :
        <ul>
            <li>Papiers Peints</li>
            <li>Les Tissus</li>
            <li>Toiles de Verre Décoratives</li>
            <li>Travaux de Rénovation</li>
            <li>Enduits à Eponges</li>
        </ul>
    </li>
    <li>
        Sur les Sols :
        <ul>
            <li>Parquets</li>
            <li>Vitrification des Parquets Massif</li>
            <li>Ravalements avec revêtements de sols Moquettes</li>
            <li>Rénovation</li>
        </ul>
    </li>
    <li>
        Sur les Plafonds :

        <ul>
            <li>Plafonds Tendus</li>
        </ul>
    </li>
    <li>
        Sur les Toitures : 
        <ul>
            <li>Nettoyages en Basse ou Haute Pression</li>
            <li>Mise en Peinture</li>
        </ul>
    </li>
</ul>